@page
@model TarsOffice.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.Date" class="control-label"></label>
                <input asp-for="Booking.Date" class="form-control" />
                <span asp-validation-for="Booking.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Status" class="control-label"></label>
                <select asp-for="Booking.Status" class="form-control">
                    <option value="Booked">Booked</option>
                    <option value="Tentative">Tentative</option>
                </select>
                <span asp-validation-for="Booking.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
